<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:改mapper.xml映射文件的唯一标识并且必须和数据处理层的接口的路径相同-->
<mapper namespace="com.zxx.zxxboot.mapper.UserMapper">
<resultMap id="userMap" type="com.zxx.zxxboot.bean.User">
  <id column="id" property="id" jdbcType="INTEGER"></id>
  <result column="name" property="name" jdbcType="VARCHAR"></result>
</resultMap>

<select id="queryByName" parameterType="String" resultMap="userMap">
  select * from TEST where name = #{name}
  </select>
</mapper>
